@import '../../styles/buttons';
$not-found-color: red;
$not-found-image-width: 250px;
$not-found-image-margin-top: 30px;

.not-found-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    width: $not-found-image-width;
    margin-top: $not-found-image-margin-top;
  }

  button {
    @include transition-button;
  }
}
