$facebook-blue: #3b5998;
$facebook-blue-hover: #365899;
$twitter-blue: #1da1f2;
$twitter-blue-hover: lighten($twitter-blue, 10);

$green: #00ad7c;
$green-hover: lighten($green, 5);
$gray: #cacaca;

$red: #F56262;
