@import "../../styles/_text";
@import "../../styles/_buttons";
@import "../../styles/colors";
@import "./ForgotPassword/forgotPasswordSuccess";
$authentication-title-font-size: $font-size-giant;
$authentication-title-margin: 40px 0 10px 0;
$authentication-error-wrapper-margin: 60px 0 0 0;
$authentication-form-min-width: 320px;
$authentication-form-max-width: 320px;
$login-form-button-margin-top: 30px;
$authentication-form-input-padding: 10px 0 10px 5px;
$authentication-form-input-margin-top: 25px;
$authentication-form-border: none;
$authentication-form-border-bottom: 1px solid lightgray;
$authentication-form-error-position-top: 65px;
$authentication-form-color: $red;
$authentication-form-checkbox-margin-right: 10px;
$authentication-form-forgot-password-wrapper-margin-top: 30px;
$authentication-form-forgot-password-wrapper-color: #48a8ef;
$authentication-form-forgot-password-wrapper-hover-color: lighten($authentication-form-forgot-password-wrapper-color, 10);
$authentication-form-separator-margin-top: 25px;

.authentication-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .authentication-title {
    font-size: $authentication-title-font-size;
    margin: $authentication-title-margin;
    text-align: center;
  }

  .authentication-error-wrapper {
    margin: $authentication-error-wrapper-margin;
  }

  .authentication-form {
    min-width: $authentication-form-min-width;
    max-width: $authentication-form-max-width;

    &.login-form {
      button {
        margin-top: $login-form-button-margin-top;
      }
    }

    .authentication-form-input-group {
      position: relative;

      .authentication-form-input {
        font-size: $font-size-regular;
        padding: $authentication-form-input-padding;
        margin-top: $authentication-form-input-margin-top;
        width: 100%;
        border: $authentication-form-border;
        border-bottom: $authentication-form-border-bottom;
      }

      .authentication-form-error {
        position: absolute;
        top: $authentication-form-error-position-top;
        color: $authentication-form-color;
      }
    }

    .authentication-form-remember-me-wrapper {
      display: inline-flex;
      align-items: center;
    }

    .authentication-form-checkbox {
      margin-right: $authentication-form-checkbox-margin-right;

      &+label {
        user-select: none;
      }
    }

    .social-media-auth-link {
      position: relative;

      .facebook-logo, .twitter-logo {
        position: absolute;
        color: white;
      }

      .facebook-logo {
        top: -11px;
        left: 50px;
        font-size: 45px;
      }

      .twitter-logo {
        top: 52px;
        right: 238px;
        font-size: 37px;
      }
    }

    button {
      @include authentication-form-button;

      &.facebook-button {
        border: none;
        background: $facebook-blue;
        color: white;
        &:hover {
          background: lighten($facebook-blue-hover, 10);
        }
      }

      &.twitter-button {
        border: none;
        background: $twitter-blue;
        color: white;
        margin-top: 15px;
        &:hover {
          background: $twitter-blue-hover;
        }
      }
    }

    .forgot-password-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: $authentication-form-forgot-password-wrapper-margin-top;
      color: $authentication-form-forgot-password-wrapper-color;

      a {
        user-select: none;
      }

      a:hover, label:hover {
        cursor: pointer;
        color: $authentication-form-forgot-password-wrapper-hover-color;
      }
    }

    .auth-separator {
      margin-top: $authentication-form-separator-margin-top;
      text-align: center;
      position: relative;
      color: black;

      &:before, &:after {
        content: "";
        position: absolute;
        height: 6px;
        border-bottom: 1px solid $gray;
        top: 0;
        width: 43%;
      }

      &:before {
        left: 0;
        margin-right: 15px;
      }
      &:after {
        right: 0;
        margin-left: 15px;
      }
    }
  }
}
