@import "../../../styles/_text";

.forgot-password-success-wrapper {
  text-align: center;
  margin: 60px 0 0 0;

  h3 {
    font-weight: $font-weight-normal;
  }

  a {
    color: deepskyblue;
  }
}
