$homepage-header: 300px;
$homepage-header-color: #fff;
$homepage-header-margin-bottom: 1px solid lightgray;
$homepage-header-title-background: red;
$homepage-header-title-filter: grayscale(50%);
$homepage-header-title-padding: 10px 30px;

.homepage {

  .homepage-header {
    height: $homepage-header;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $homepage-header-color;
    border-bottom: $homepage-header-margin-bottom;

    .title {
      background: $homepage-header-title-background;
      filter: $homepage-header-title-filter;
      padding: $homepage-header-title-padding;
      user-select: none;
    }
  }
}
