.header {
  height: 60px;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;

  .links-wrapper {

    a {
      margin-right: 15px;
      
      &:hover {
        color: lighten(black, 60);
      }
    }
  }
}
