.header {
  height: 60px;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;


  .sign-up-link {
    margin-left: 35px;
  }

  a, .sign-out-btn {
    cursor: pointer;
  }
}

